<header>
  <div class="row">
    <div class="col-xs-12">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-toggle collapsed navbar-icon" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
              <i class="fa fa-bars fa-2x"></i>
            </a>
            <a class="navbar-brand navbar-icon" href="{{ site.baseurl | append: '/'}}">
                <i class="fa fa-home fa-2x"></i>
            </a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ site.baseurl | append: '/' }}">Home</a></li>
                {% if site.blog == true %}
              <li><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
                {% endif %}
              <li><a href="{{ '/_items/about' | prepend: site.baseurl }}">About Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
